<div class="header">
	<div class="container">
		<div class="navbar">

			<div class="logo">
				<img src="https://i.ibb.co/HX3y3mJ/littemia-8.png" width="90">
			</div>
			<nav>
				<ul>
					<li><a [routerLink]="['/main']">Home</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="">Cart</a></li>
					<li><a (click)="signInWithGoogle()">Login</a></li>
				</ul>
			</nav>
			<img src="https://i.ibb.co/vY5dKY4/icons8-cart-30.png" width="25px" height="25px">
		</div>
	</div>
</div>


<router-outlet></router-outlet>



	

	

	








<!-- <div class="">
	<div *ngFor="let category of categories">
		<div (click)="getProducts(category)" class="category-item">
			{{ category.name }}
		</div>
	</div>
</div>

<div class="product-items">
	<div *ngIf="products.length == 0">NO PRODUCT DATA</div>

	<div *ngIf="products.length != 0">
		<div *ngFor="let product of products">
			<div>{{ product.name }}</div>
		</div>
	</div>
</div>  -->