<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
	<title>Nate Store</title>
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="navbar">
				<div class="logo">
					<img src="https://i.ibb.co/HX3y3mJ/littemia-8.png" width="90">
				</div>
				<nav>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Shop</a></li>
						<li><a href="">Cart</a></li>
						<li><a href="">Login</a></li>
					</ul>
				</nav>
				<img src="https://i.ibb.co/vY5dKY4/icons8-cart-30.png" width="25px" height="25px">
			</div>
			<div class="row">
				<div class="col-2">
					<h1 class="pb-4">Discover Exquisite <br> Fashion Trends!</h1>
					<p class="pb-3">Uncover a World of Distinctive Style: Immerse yourself in the realm of exquisite
						fashion trends at our clothing store</p>
					<a href="" class="btn">Explore Fashion Trends &#8594;</a>
				</div>
				<div class="col-2">
					<img src="https://i.ibb.co/Fb7Zqsz/sample-1024-x-500-px-5.png">
				</div>
			</div>
		</div>
	</div>

	<!-- Fetured Categories -->

	<div class="categories">
		<div class="small-container">
			<h2 class="pb-3">New Arrivals</h2>
			<div class="row">
				<div class="col-3">
					<img src="https://i.ibb.co/xC20zb8/category-1.png">
				</div>
				<div class="col-3">
					<img src="https://i.ibb.co/N6QgfsR/category-2.png" alt="">
				</div>
				<div class="col-3">
					<img src="https://i.ibb.co/JKNwgjY/category-3.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- Feature products -->
	
	<div class="small-container">
		<h2 class="title">Featured Products</h2>
		<div class="row">
			<div class="col-4">
				<img src="https://i.ibb.co/Syc8x8M/Screenshot-2023-06-27-013043.png" alt="">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/fDvC2DM/Screenshot-2023-06-27-005806.png" alt="">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/3kw9fKn/Screenshot-2023-06-23-032054.png" alt="">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/CHFd4wx/Screenshot-2023-06-23-031330.png" alt="">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
		</div>
	</div>

	<!-- latest products -->

	<div class="small-container">
		<h2 class="title">Latest Products</h2>
		<div class="row">
			<div class="col-4">
				<img src="https://i.ibb.co/yN4P97R/Screenshot-2023-06-23-032341.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/842jfrt/Screenshot-2023-06-23-032007.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/0KqkhL4/Screenshot-2023-06-25-232156.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/1dmHCdg/Screenshot-2023-06-25-232822.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
		</div>
	</div>
	<div class="small-container">
		<div class="row">
			<div class="col-4">
				<img src="https://i.ibb.co/P4ymdNH/Screenshot-2023-06-23-023435.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/yWR0vk6/Screenshot-2023-06-23-031418.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/fx1PqnY/Screenshot-2023-06-23-032237.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="https://i.ibb.co/6F8WkcN/Screenshot-2023-06-23-032307.png">
				<h4>Red Printed T-shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half"></i>
				</div>
				<p>$50.00</p>
			</div>
		</div>
	</div>
	
	







</body>

</html>

<!-- <div class="">
	<div *ngFor="let category of categories">
		<div (click)="getProducts(category)" class="category-item">
			{{ category.name }}
		</div>
	</div>
</div>

<div class="product-items">
	<div *ngIf="products.length == 0">NO PRODUCT DATA</div>

	<div *ngIf="products.length != 0">
		<div *ngFor="let product of products">
			<div>{{ product.name }}</div>
		</div>
	</div>
</div>  -->